*{
    box-sizing: border-box;
}

header{
    margin-top: 20px;
    width: 100%;
    padding-left: 20px;
    /* background-color: gray; */
    height: 100px;
    
}

header img{
    position: relative;
    left: 100px;
    margin-left: 100px ;
    padding-top: 20px;

}
header h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    display: inline;
    position: relative;
    left: 100px;
    top: -20px;
}
header p{
    font-size: 7px;
    color:rgb(126, 125, 125);
    display: inline;
    position: relative;
    left: -5px;
    top: -5px;
    /* margin-top: 20px; */
}

#logos{
    /* float: right; */
    position: relative; 
     left: 400px; 
    /* top: -60px; */
    display: inline;
}
#logos img{
    margin: 0;
    /* position: relative;
    right: 1000px; */
}
#logos #wifi{
    margin-left: 7px;
}

header #hr{
    background-image: repeating-linear-gradient(-45deg,
      transparent,
      transparent 20px,
      black 20px,
      black 40px);
}

body main h2{
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    position: relative;
    left: 220px;
    top: 10px;
    display: inline;
}
main #p2{
    font-size: 13px;
    color: rgb(182, 182, 182);
    position: relative;
    left:-50px;
    top: 25px;
    display: inline;
}
main #first {
    display: inline;
    margin-bottom: ;
}
#first img{
    position: relative;
    /* right: 20px; */
    left: 570px; 
    top: 25px;
   
}
#first p{
    position: relative;
    left: 565px; 
    top: 25px;
    color: rgb(182, 182, 182);
    display: inline;

}
#chocopizza{
    position: relative;
    left: 220px;
    margin-top: 30px;
}
#para{
    margin-left: 30px;
    
}
#para p{
    width: 100%;
    padding-right: 114px;
    padding-left: 190px;
    
}
/* #checkbox{
    width: 100%;
} */


/* #checkbox #left{
    position: relative;
    left: 290px;
    top: -270px;
    width: 100%;
    display: inline;
} */
#checkbox{
    width: 900px;
    position: relative;
    left: 220px;
}
#checkbox #lists{
    background-image: url(https://github.com/LTUC/amman-201d20/blob/main/class-10/lab-a/lab-assets/list-bg.png?raw=true);
}
#checkbox #left  input[type=checkbox]:checked + label{
    position: relative;
    top: 0px;   
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    
    /* left: 400px; */
      
    text-decoration: line-through;
}
#checkbox #left{
    position: relative;
    top: 40px;   
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    padding-bottom: 10px;
    left: 140px;
      
}


#checkbox #right{
    position: relative;
    left: 450px;
    top: -130px;
    display: inline;
    
}
#checkbox #right  input[type=checkbox]:checked + label{
    position: relative;
    top: 0px;   
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    padding-bottom: 10px;
      
    text-decoration: line-through;
}
#checkbox #right label{
    position: relative;
    top: 0px;   
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    padding-bottom: 10px;
}
/* 
#secondhr{
    position: relative;
    top: -200px;
    background-image: repeating-linear-gradient(45deg,
      transparent,
      transparent 20px,
      black 20px,
      black 40px);
    /* margin-left: 200px; */
    /* margin-right:  140px;  */



     
main section img{
    display: inline;
    position: relative;
    left: 220px;
    top: 10px;

}
main section h6{
    display: inline;
    position: relative;
    left: 240px;
    top: -30px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.555);
}

main section p{
    display: inline;
    position: relative;
    left: 80px;
    top: -10px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.555);
}
button{
    background-color: rgba(212, 68, 11, 0.514);
    position: relative;
    left: 350px;
    top: -30px;
    width: 150px;
    height: 40px;
}
footer{
 margin-top: 50px;
}
footer #h1{
    size: 400px;
   margin-right: 600px;

}
footer img{
    position: relative;
    left: 600px;
    top: -30px;
}
footer #h2{
    size: 400px;
   margin-left: 640px;
   position: relative;
   top: -55px;

}
footer p{
    text-align: center;
    color: rgba(128, 128, 128, 0.466);
    position: relative;
    top: -20px;
    font-weight: bold;
}
